---
import MainLayout from '../layouts/main.astro'
const linkStyle = 'underline hover:text-orange-600 mt-2 block'
---

<MainLayout>
	<section class="flex flex-col items-center justify-center">
		<h1 class="mt-44 text-center">Find your North Star in life</h1>
		<p class="text-l mt-10 text-center">
			A guide to finding purpose, creating a vision and building the lifestyle you dream of
		</p>
		<a href="/guide" class="mt-10 rounded bg-gray-800 px-3 py-2 text-gray-50 hover:bg-gray-900"
			>Go to guide</a
		>
		<h2 class="mt-40">Does it sound familiar?</h2>
		<div class="mt-6">
			<p class="mb-2">
				<strong>You are lost.</strong> You don’t know <strong>who you are.</strong> You don’t know <strong
				>
					where you are going.</strong
				> You don’t even know <strong>what you want.</strong>
			</p>
			<p class="mb-2">
				You realize that life is passing you by and you are just observing it. <strong
					>No control. No actions. No satisfaction.</strong
				> Just going with the flow.
			</p>
			<p class="mb-2">
				You start asking yourself: <strong>What am I doing with my life?</strong>
				Do I really want to live this life ingloriously and leave no legacy? Then something clicks in
				your mind.
			</p>

			<p class="mb-2">
				<strong>No way! I want changes. </strong>But how? Where to start? How to do it right? You
				may have even tried a few times. Inspired and motivated by influencers' videos, you started
				waking up at 5am and doing other recommended stuff. But these didn't work out as intended.
				Fair enough. We are all different and we need different paths. And even more so, motivation
				is not the best driver for the long term.
			</p><p class="mb-2"><strong>You need something different.</strong></p>
		</div>
		<h2 class="mt-28">How to make changes?</h2>
		<div class="mt-6">
			<p class="mb-4 text-center font-bold">
				You don’t need motivation, you need clarity. (c) Dan Koe
			</p>
			<p class="mb-2">
				<strong>Motivation doesn’t work for long-term goals.</strong> It ends very quickly. This time
				is only enough to find purpose and build a clear vision of what you want and how you will achieve
				it.
			</p><p class="mb-2">
				<strong>Being lost in life is similar to being lost in a forest.</strong> To solve this problem,
				you need to know where you are right now, where you need to go, and how exactly to do this (a
				map or path).
			</p>
			<p class="mb-2">
				<a class={`${linkStyle} inline`} href="/guide">This guide</a> does exactly that. It consists
				of three parts:
			</p>

			<ul class="mb-2">
				<li class="mb-1">
					<strong>1. Audit.</strong> A detailed examination of your life at the current point. Work,
					health, energy, money, relationships, and others.
				</li>
				<li class="mb-1">
					<strong>2. Vision.</strong> An ideal life in the future you dream of. Your North Star.
				</li>
				<li class="mb-1">
					<strong>3. Path.</strong> Building a system that is sustainable for long-term goals, also known
					as a lifestyle.
				</li>
			</ul>
			<p>
				Each category includes practical exercises and examples for inspiration and clarity. Try
				them, add your own, experiment with options. <strong>But don’t expect quick results.</strong
				> Great things take time. Here we are talking about a fulfilling future. It may take years, but
				a journey of a thousand miles begins with a single step.
			</p>
		</div>
	</section>

	<section class="flex flex-col items-center">
		<h2 class="mt-28">What this guide consist of?</h2>
		<p class="mt-4">
			Tasks on this category are a practical exercises aiming to guide you to the main idea — <strong
				>live your own dream life.</strong
			> Take them as an example. When you will get the point, add your own. We have different current
			situation and future goals. Paths also may vary, but <strong
				>if you don’t want where to start, this guide can be the great reference.</strong
			>
		</p>
		<div class="mt-4 flex w-full flex-col justify-evenly">
			<div class="mt-5 w-fit">
				<a class={linkStyle} href="/guide#audit"><h3 class="text-left">Audit</h3></a>
				<ul class="mt-4">
					<a class={linkStyle} href="/guide#life-audit"><li>1. Life audit</li></a>
					<a class={linkStyle} href="/guide#work-audit"><li>2. Work audit</li></a>
					<a class={linkStyle} href="/guide#energy-audit"><li>3. Energy audit</li></a>
					<a class={linkStyle} href="/guide#thruthful-things"
						><li>4. 10 truthful things about you</li></a
					>
					<a class={linkStyle} href="/guide#honest-people"><li>5. Ask honest people</li></a>
				</ul>
			</div>
			<div class="ml-0 mt-5 w-fit md:ml-[45%]">
				<a class={linkStyle} href="/guide#vision"><h3 class="text-left">Vision</h3></a>
				<ul class="mt-4">
					<a class={linkStyle} href="/guide#how-to-want"
						><li>1. How do you want to life 10 years from now</li></a
					>
					<a class={linkStyle} href="/guide#how-to-not"><li>2. How you do NOT want to live</li></a>
					<a class={linkStyle} href="/guide#life-audit"
						><li>3. What people will say at your funeral</li></a
					>
					<a class={linkStyle} href="/guide#ted"
						><li>4. What will you talk about at the TED conference</li></a
					>
					<a class={linkStyle} href="/guide#role-model"><li>5. People you admire, role model</li></a
					>
					<a class={linkStyle} href="/guide#judgment"
						><li>6. If money/judgment doesn’t exist, what will you do</li></a
					>
					<a class={linkStyle} href="/guide#path-not-available">
						<li>7. If your current path is not available, which you will go instead</li></a
					>
				</ul>
			</div>
			<div class="mt-5 w-fit">
				<a class={linkStyle} href="/guide#path"><h3 class="text-left">Path</h3></a>
				<ul class="mt-4">
					<a class={linkStyle} href="/guide#categories"><li>1. Define categories to improve</li></a>
					<a class={linkStyle} href="/guide#roadmap"
						><li>2. Create roadmap from now to 10y (5y, 1y, 1m)</li></a
					>
					<a class={linkStyle} href="/guide#skills"
						><li>3. Define key skills, that lead to the desired result in each category</li></a
					>
					<a class={linkStyle} href="/guide#habits"
						><li>4. Find out how to build 2–4 habits to obtain the necessary skills</li></a
					>
					<a class={linkStyle} href="/guide#system"
						><li>5. Integrate habits into routine and system</li></a
					>
					<a class={linkStyle} href="/guide#lifestyle"><li>6. Create lifestyle from system</li></a>
				</ul>
			</div>
		</div>
		<div class="m-auto mb-10 mt-10 w-fit">
			<a class={linkStyle} href="/guide#conclusion"><h3>TL;DR. Conclusion</h3></a>
		</div>
	</section>
</MainLayout>
